.certificateViewer {
    width: 80%;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.certificateViewer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.certificateViewer img:hover {
    transform: scale(1.05);
}
